@font-face{
    font-family: "aww1";
    src: url('../fonts/fogtwo/fogtwoNo5.ttf')
}

.divider {
    height:50px;
}

section {
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
}
.name {
    font-family: "aww1";
    font-size: 50px;
}
.motto{
    font-family: Garamond;
    font-size: 40px;
}

.lead{
    font-family: "aww1";
    size: 24px;
}
.work{
    text-align: center;
}
.title{
    font-family: Garamond;
}
#logos{
    width: 260px;
    height: 260px;
}
#imac{
    height: 270px;
}
.panel{
    text-align: center;
}
.page-scroll{
    font-size: 20px;
    font-family: Garamond;
}
.row{
    margin-right: auto;
    margin-left: auto;
}

.bg-1 {
    width: 100vw;
    height: 100vh;
	background: url('../images/henrybeach.jpg') no-repeat center center fixed;
    color:#fff;
    background-size:cover;
}
  
.bg-2 {
    width: 100vw;
    height: 75vh;
	background: url('../images/tree.jpeg') no-repeat top center fixed;
    color:#fff;
    background-size:cover;
}

.bg-3 {
    width: 100vw;
    height: 75vh;
	background: url('../images/lake.jpeg') no-repeat bottom center fixed;
    color:#fff;
    background-size:cover;
}

#footer {
    height: 60px;
    background-color:#585858;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
}

#footer a {
  color:#efefef;
}
/* this is the css for the contact form part of the webpage */
#hello{
    float: right;
    margin-right: 24px;
    margin-top: 100px;
    
}

#contact{
    margin-left: 24px;
    margin-top: 100px;
    margin-top: 100px;

}

#divResults{
    background-color: rgba(227, 227, 227, 1);
    height: 600px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;
    
}

/* social media css */


/*panel heading*/
h1 {
    text-align:center;
    font-size: 28px;
    font-family: 'Garamond';
}
/*panel align center*/
.col-centered{
    float: none;
    margin: 0 auto;
    padding-top:5px;
}
/*property for the bootstrap panel*/
.panel  {
-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.panel-default > .panel-heading {
  color: #000 !important;
  background: #80bfff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #80BFFE, #80CCE7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #80BFFE, #80CCE7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #80BFFE, #80CCE7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #80BFFE, #80CCE7); /* Standard syntax */
  border-color: #99ccff !important;
  height:80px;
}

/*property for the HTML input placeholder*/
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

/*property for reset button*/
button[type="reset"]    {
    background-color:transparent;
    border:1px solid black;
}

/*Glyphicon color*/
.blue   {
    color: #80bfff;
}

.container2 {
    width: inherit;
}