.divider {
    height:50px;
}

section {
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
}
.name {
    text-transform: uppercase;
    font-family: Lato;
    size: 30px;
}
.motto{
    font-family: Lato;
}

.lead{
    font-family: Merriweather;
    size: 24px;
}
.work{
    text-align: center;
}
.title{
    font-family: Lato;
}

.bg-1 {
    width: 100vw;
    height: 100vh;
	background: url('../images/henrybeach.jpg') no-repeat center center fixed;
    color:#fff;
    background-size:cover;
}
  
.bg-2 {
    width: 100vw;
    height: 75vh;
	background: url('../images/tree.jpeg') no-repeat top center fixed;
    color:#fff;
    background-size:cover;
}

.bg-3 {
    width: 100vw;
    height: 75vh;
	background: url('../images/lake.jpeg') no-repeat bottom center fixed;
    color:#fff;
    background-size:cover;
}

#footer {
    height: 60px;
    background-color:#585858;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
}

#footer a {
  color:#efefef;
}
/* this is the css for the contact form part of the webpage */
#hello{
    float: right;
    margin-right: 24px;
    margin-top: 100px;
    
}

#contact{
    margin-left: 24px;
    margin-top: 100px;
    margin-top: 100px;

}

#divResults{
    background-color: rgba(227, 227, 227, 1);
    height: 600px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;
    
}
#txtUserMessage {
    width: 375px;
    height: 325px;
    text-align: center;
    margin-top: 5px;
}


#txtFirstName {
    width: 450px;
    height: 65px;
    margin-top: 100px;

}

#txtLastName {
    width: 450px;
    height: 65px;

}

#txtEmail {
    width: 450px;
    height: 65px;
}

#txtmobile{
    width: 450px;
    height: 65px;
}



/* social media css */

